.u-section-1 .u-sheet-1 {
  min-height: 971px;
}

.u-section-1 .u-image-1 {
  height: 671px;
  margin-top: 60px;
  margin-bottom: 0;
  object-position: 50% 33.86%;
}

.u-section-1 .u-group-1 {
  width: 250px;
  min-height: 250px;
  margin: -671px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  font-weight: 700;
  margin: 13px 9px 0;
}

.u-section-1 .u-text-2 {
  margin: 451px 0 -40px 682px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 482px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-image-1 {
    height: 519px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -519px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 298px;
    margin-left: 0;
    margin-bottom: -93px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 571px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 213px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-style: normal;
  color: rgb(17, 17, 17) !important;
  margin: 30px 528px 0 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 30px 528px -446px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 612px;
    margin-right: 328px;
  }

  .u-section-2 .u-text-3 {
    width: 612px;
    margin-right: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 108px;
    margin-bottom: -460px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-right: 0;
    margin-bottom: -429px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    margin-bottom: -510px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 9px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 9px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-icon-1 {
  width: 152px;
  height: 152px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 27px;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  font-size: 0.875rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 102px;
  height: 102px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
  padding: 27px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  width: 102px;
  height: 102px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 27px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-4 {
  width: 152px;
  height: 152px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
  padding: 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 34px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 62px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-4 {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 694px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-4 .u-image-1 {
  min-height: 713px;
  background-image: url("images/pexels-photo-1024613.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  line-height: 1.6;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 713px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px 142px;
}

.u-section-4 .u-image-2 {
  height: 392px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 39.72%;
  margin-left: auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-weight: 700;
  text-transform: none;
  margin: 20px 144px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 138px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 588px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-4 .u-image-2 {
    height: 300px;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-right: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-4 .u-image-1 {
    min-height: 450px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 302px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-image-1 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 485px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4 .u-image-1 {
    min-height: 425px;
  }

  .u-section-4 .u-image-2 {
    height: 302px;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 761px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-1 {
  height: 521px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 641px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  width: 36px;
  height: 36px;
  margin: 30px auto 0;
  padding: 27px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 641px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 521px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-5 .u-image-1 {
    height: 429px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 529px;
  }

  .u-section-5 .u-image-2 {
    height: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-5 .u-image-1 {
    height: 329px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 405px;
  }

  .u-section-5 .u-image-2 {
    height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1628px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -233px;
    margin-bottom: -233px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-5 .u-image-1 {
    height: 644px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 670px;
  }

  .u-section-5 .u-image-2 {
    height: 644px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -383px;
    margin-bottom: -383px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-5 .u-image-1 {
    height: 405px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-5 .u-image-2 {
    height: 405px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 884px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  width: 911px;
  margin: 70px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 579px;
  width: 911px;
  margin: 40px auto 35px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 15px;
}

.u-section-6 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-6 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-6 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-6 .u-back-slide-6 {
  background-position: 50% 100%;
}

.u-section-6 .u-back-image-6 {
  object-position: 50% 100%;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1030px;
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3430px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 3090px;
    width: 540px;
    margin-bottom: 70px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2286px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1946px;
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 563px;
}

.u-section-7 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 438px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-7 .u-image-1 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: -268px 0 0 347px;
}

.u-section-7 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0 347px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 20px auto 51px 347px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 130px;
}

.u-section-7 .u-image-2 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: -268px 0 0 348px;
}

.u-section-7 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0 348px;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 348px;
}

.u-section-7 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-section-7 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-slider-1 {
    height: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 229px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 229px;
    margin-bottom: 19px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-image-1 {
    width: 250px;
    height: 333px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 141px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-image-2 {
    width: 250px;
    height: 326px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 141px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-7 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-btn-1 {
    margin-left: 91px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 91px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 695px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-form-group-4 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 616px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  width: 166px;
  font-weight: 700;
  text-transform: none;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  width: 183px;
  font-weight: 700;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-8 .u-text-5 {
  margin: 18px 31px 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 60px 0 0;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  line-height: 2;
  margin: 22px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 60px;
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-8 .u-form-group-4 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    margin-right: 26px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.125rem;
    width: 144px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.125rem;
    width: 144px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 21px;
    font-size: 1.125rem;
  }

  .u-section-8 .u-text-7 {
    margin-top: 19px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}